[Unit]
Description=DSTX Daemon Service
After=network.target

[Service]
LimitMEMLOCK=infinity
Type=simple
ExecStartPre=/usr/bin/rm -f /dev/shm/dstx_shared_mem
ExecStart=/usr/local/bin/dstx --daemon
Restart=on-failure
RestartSec=1s
User=root
Group=dstx
Nice=-20
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=99
ExecStartPost=/usr/bin/sleep 0.1

[Install]
WantedBy=multi-user.target
